<% layout("layouts/boilierplate")%>
    <link rel="stylesheet" href="/stylesheets/allBank.css">
    <h1>Request Deposit</h1>
    <form action="/accountViews/<%= account._id %>/requests" method="post" novalidate class="validated-form"
        enctype="multipart/form-data">

        <h4>Account Details ending in XXXXX<%= account._id.toString().slice(-4) %>
        </h4>

        <div class="mb-3">
            <label for="deposit" class="form-label">Deposit Amount: </label>
            <input type="text" class="form-control" id="deposit" name="account[deposit]" placeholder="$0.00" required>
            <div class="valid-feedback"> Looks Good!</div>
        </div>


        <div class="mb-3">
            <label for="frontImage" class="form-label">Add Image of Front of the Check</label>
            <input type="file" class="form-control" id="frontImage" name="frontImage" required>
            <div class="invalid-feedback">Please upload an image of the front of your check.</div>
        </div>


        <div class="mb-3">
            <label for="backImage" class="form-label">Add Image of Back of the Check</label>
            <input type="file" class="form-control" id="backImage" name="backImage" required>
            <div class="invalid-feedback">Please upload an image of the back of your check.</div>
        </div>


        <input type="hidden" name="account[accountFrom]" value="<%= account._id %>">



        <% let depositBlocked=true; for(let account of accounts) { if(account.isFrozen || account.isLocked) {
            depositBlocked=false; break; } } %>

            <% if(depositBlocked) { %>
                <button type="submit" class="btn btn-success">Send Request</button>
                <%} else{ %>
                    <p>Can not deposit while account is locked or frozen</p>
                    <% } %>



    </form>

    <script>
        document.getElementById('deposit').addEventListener('input', function (event) {
            let input = event.target.value;
            input = input.replace(/[^0-9]/g, '');
            if (input.length === 0) return;
            input = parseInt(input);
            event.target.value = (input / 100).toFixed(2);
        });
    </script>


    <script>
        document.getElementById('deposit').addEventListener('keydown', function (event) {
            if (!event.key.match(/[0-9]/) && event.key !== 'Backspace' && event.key !== 'Tab' && event.key !== 'Enter' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight' && event.key !== 'Delete') {
                event.preventDefault();
            }
        });
    </script>


    <footer id="depositFoot"><a href="/accountViews/<%= account._id %>">Go back to Account Details</a></footer>