<% layout("layouts/boilierplate")%>
    <link rel="stylesheet" href="/stylesheets/allBank.css">



    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <a href="/accountViews/createAccount">Create a New account</a>
            </div>
            <div class="card-body">
                <p>You may create a new checkings or savings account</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="/accountViews/requestCard">Request a Credit Card</a>
            </div>
            <div class="card-body">
                <p>You may submit a request to apply for either a Saphire, Ruby or Emerald credit card</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="/accountViews/requestLoan">Request a Loan</a>
            </div>
            <div class="card-body">
                <p>You may request one of the many loans we offer </p>
            </div>
        </div>

    </div>