<% layout("layouts/boilierplate")%>
    <link rel="stylesheet" href="/stylesheets/allBank.css">




    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <a href="/accountViews/transferFriend">Transfer Money to Friend!</a>
            </div>
            <div class="card-body">
                <p>Send money to a friend using just thier username!!!</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a href="/accountViews/transferAccount">Transfer Money between your accounts!</a>
            </div>
            <div class="card-body">
                <p>Transfer money in between accounts to be able to orginize your money!</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a href="/accountViews/payOffLoan">Pay off a loan!</a>
            </div>
            <div class="card-body">
                <p>You may pay off any loan of you may have right here!</p>
            </div>
        </div>

    </div>