/* Body and Home Container for General Responsiveness */
body,
.home-container {
    padding: 0px;
    margin: 0;
}

/* General styles for the home container */
.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Background styles */
body {
    background: linear-gradient(to right, #007bff, #000);
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Styles for the welcome and logo section */
.welcome-logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/* Styles for the welcome message */
.welcome-message {
    flex: 1;
    margin-right: 10%;
}

/* Styles for the logo container */
.logo-container {
    flex: 1;
    text-align: right;
}

/* Styles for the logo image */
.home-logo {
    max-width: 600px;
    width: 100%;
    height: auto;
}

/* Styles for the features section */
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/* Styles for each individual feature */
.feature {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* Styles for the call-to-action section */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/* Styles for primary buttons */
.btn-success {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #005f24;
}

/* Styles for the header within the home container */
.home-header h1,
.feature h2 {
    font-size: 3em;
    color: white;
}

.home-header p,
.feature p {
    font-size: 1.5em;
    color: white;
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 768px) {

    /* Adjust Logo and Welcome Message Layout */
    .logo-container {
        display: none;
    }

    .welcome-message {
        flex: none;
        margin: 0;
        width: 100%;
    }

    /* Responsive Features */
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin: 10px 0;
        width: 100%;
    }

    /* Call to Action Adaptation */
    .call-to-action {
        width: 100%;
    }

    /* Adaptive Font Sizes */
    .home-header h1 {
        font-size: 2em;
    }

    .home-header p,
    .feature h2,
    .feature p {
        font-size: 1em;
    }
}