#deposit {
    color: green;
}

#withdrawal {
    color: red;
}




.carousel-container {
    width: 900px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


@media (max-width: 1050px) {
    .carousel-container {
        width: 650px;
        height: 433px;
    }

    /* Other responsive adjustments as needed */
}


@media (max-width: 768px) {
    .carousel-container {
        width: 450px;
        height: 300px;
    }

    /* Other responsive adjustments as needed */
}



.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.border-container {
    border: 5px solid black;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;

}