<% layout("layouts/boilierplate") %>
    <link rel="stylesheet" href="/stylesheets/infoPages.css">
    <h1>Credit Cards Offered</h1>
    <div class="container">
        <div class="card-info saphire">
            <h2>Saphire Card</h2>
            <p>Credit Limit: $2,500</p>
            <p>Interest Rate: 3%</p>
        </div>
        <div class="card-info ruby">
            <h2>Ruby Card</h2>
            <p>Credit Limit: $5,000</p>
            <p>Interest Rate: 2%</p>
        </div>
        <div class="card-info emerald">
            <h2>Emerald Card</h2>
            <p>Credit Limit: $50,000</p>
            <p>Interest Rate: 1%</p>
        </div>
    </div>